<h3 class='text-center'>Adding New Article</h3>
<div class='row'>
    <div class='col-md-12'>
        <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :name, 'Name <span class="required">*</span> %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :name, class: 'form-control', placeholder: 'E.g. Lee Chinese', autofocus: true %> 
            </div>
        </div>
        
        <div class='form-group'>
            <div class='control-label col-md-1'> 
                <%= f.label :description %>
            </div>
            <div class='col-md-11'>
                <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Restaurant description' %>
            </div> 
        </div>
        
        
         <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :address1 %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :address1, class: 'form-control', placeholder: 'E.g. 200 Cheam Road' %> 
            </div>
        </div>
        
        <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :address2 %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :address2, class: 'form-control', placeholder: 'E.g. Sparcells' %> 
            </div>
        </div>
        
        <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :city %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :city, class: 'form-control', placeholder: 'E.g. Bristol' %> 
            </div>
        </div>
        
        <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :county %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :county, class: 'form-control', placeholder: 'E.g. Wiltshire' %> 
            </div>
        </div>
        
        <div class='form-group'>
            <div class='control-label col-md-1'>
                <%= f.label :postcode %> 
            </div>
            <div class='col-md-11'>
                <%= f.text_field :postcode, class: 'form-control', placeholder: 'E.g. EN1 DG2' %> 
            </div>
        </div>
        

        <div class='form-group'>
            <div class='col-md-offset-1 col-md-11'>
                <%= f.submit class: 'btn btn-primary btn-lg pull-right' %> 
            </div>
        </div> 
        <% end %>
        <%= link_to 'Back to Restaurants', restaurants_path , class: 'btn btn-default'%>
            Cancel
        <% end %>
        <%= link_to restaurants_path, class:'btn btn-default' do %>
            Back to Restaurants <i class='glyphicon glyphicon-remove'></i>
        <% end %>
    </div> 
</div>