<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodReview</title>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='background: #ecf0f5; color: #666;'>
    <%= render 'layouts/header' %>

    <div class='container'>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
     <%= render 'layouts/footer' %>
    <script>
      $(document).ready(function(){

        // Disable form button while invalid  input field contains invalid input
        $( "#delete" ).prop( "disabled", true );// Disable delete button

        $('#restaurant_name').on('input', function() {
            myvalue = $(this).val().toLowerCase();
            name = $('.restaurant-name').text().toLowerCase();
            if(myvalue == name)
            {
                $("#delete").prop("disabled", false );
            }
            else
            {
                $("#delete").prop("disabled", true );
            }
        });

        //Scroll to Top page
        $(window).scroll(function(){
          if($(this).scrollTop() >= 50)
          {
            $('#return-to-top').fadeIn(200);
          }
          else
          {
            $('#return-to-top').fadeOut(200);
          }
        });
        $('#return-to-top').click(function(){
          $('body,html').animate({
            scrollTop : 0
          },500);
        });
      });
    </script>
  </body>
</html>
